{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
</head>
<body>
    <section class="wrapper">
        <div class="form signup">
            <form action="" method="post">
                {% csrf_token %}
                <header>Login</header>
                <input type="text" name="username" placeholder="User name" required />
                <input type="password" name="password" placeholder="Password" required />
                <a href="/signup">Create An Account</a>
                <input type="submit" value="Login" />
            </form>
        </div>
    </section>  
</body>
</html>
